<div class="row">
  <div class="col-sm-12">
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Nationality</th>
        <th>Position</th>
      </tr>
      <tr *ngFor="let player of players.players">
        <td>{{ player.firstName}}</td>
        <td>{{ player.lastName }}</td>
        <td>{{ player.dateOfBirth }}</td>
        <td>{{ player.nationality }}</td>
        <td>{{ player.poistion }}</td>
      </tr>
    </table>
  </div>
</div>