<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" routerLink="Home">Logo</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="matches">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="standing">Standing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="team">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">Profile</a>
      </li>
    </ul>
  </div>
  </nav>




<router-outlet></router-outlet>
